PORT=5000
MONGODB_URI=mongodb+srv://communitypulse_admin:pulse234@communitypulse-cluster.h9amaqf.mongodb.net/?appName=communitypulse-cluster
JWT_SECRET=f49dfea4dd2eb11f6e2d788b849f283af2ce2f0129f69e64492532bb62c65861
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123