PORT=5000
MONGODB_URI=mongodb://communitypulse_admin:pulse234@ac-qdw2fwx-shard-00-00.h9amaqf.mongodb.net:27017,ac-qdw2fwx-shard-00-01.h9amaqf.mongodb.net:27017,ac-qdw2fwx-shard-00-02.h9amaqf.mongodb.net:27017/?ssl=true&replicaSet=atlas-a2igb0-shard-0&authSource=admin&appName=communitypulse-cluster
JWT_SECRET=f49dfea4dd2eb11f6e2d788b849f283af2ce2f0129f69e64492532bb62c65861